{% extends 'base_app/base.html' %}

{% block content %}
<div class="greetings"><div class="head_text">Login</div></div>
<div class="text-block">
<form method="post">
    {% csrf_token %}
    {% for f in form %}
    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
    <div class="form_element login">{{f}}</div>
    {% endfor %}
    <input type="submit" class="login" value="Login">
</form>
</div>
<div class="bottom_block"><span>Don't have an account? <a href="{% url 'register' %}">Register</a></span></div>
{% endblock %}