{% extends 'base_app/base.html' %}

{% block content %}
{% if task.user == request.user or not task.user%}
<div class="greetings"><div class="head_text">Task form</div></div>
<div class="text-block">In title input you should enter valid title for your task.
    Then enter some related description to this task and choose whether your task is completed or not.</div>
<div class="task_form"><form method="post">
    {% csrf_token %}
    {% for f in form %}
    <div class="task_label">
        <label for="{{ f.id_for_label }}">{{ f.label }}</label>
    </div>
    <div class="form_element">
        {% if f.label == 'Done'%}<label class="switch"><input type="hidden" name="{{ f }}" value="False" />{{ f }}
            <span class="slider round"></span>
        </label>
        {% else %}
        {{ f }}
        {%endif%}
    </div>
    {% endfor %}
    <div class="nav_buttons">
        <a href="{% url 'tasks' %}" class="task_processing">Return</a>
        <input type="submit" class="task_processing" value="Submit">
    </div>
</form></div>
{% else %}
<div class="denied">No permissions</div>
<div class="nav_buttons">
        <a href="{% url 'tasks' %}" class="task_processing">Return</a>
</div>
{% endif %}
{% endblock %}